body {
    background-color: rgb(103, 184, 255);
}

#shark {
    left: 100px;
    top: 400px;
    position: absolute;
    animation-name: Shark;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes Shark {
    0% {left: 100px; top: 400px;}
    20% {left: 300px; top: 400px;}    
    40% {left: 500px; top: 300px;}    
    50% {left: 600px; top: 50px;}
    60% {left: 600px; top: 100px;}    
    80% {left: 500px; top: 200px;}        
    100% {left: 100px; top: 400px; transform: scaleX(-1);}
}

#turtle {
    position: absolute;
    animation-name: Turtle;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes Turtle {
    0% {left: 100px; top: 200px;}
    20% {left: 300px; top: 200px;}    
    40% {left: 500px; top: 100px;}    
    50% {left: 600px; top: 50px;}
    60% {left: 600px; top: 100px;}    
    80% {left: 500px; top: 200px;}        
    100% {left: 100px; top: 200px; transform: scaleX(-1);}
}

.diver {
    position: absolute;
    animation-name: Diver;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.diver:nth-child(1) {
    left: 100px;
    animation-duration: 8s;;
}

.diver:nth-child(2) {
    left: 500px;
    animation-duration: 20s;;
}

.diver:nth-child(3) {
    left: 850px;
    animation-duration: 12s;;
}

@keyframes Diver {
    0% {top: 400px;}  
    50% {top: 50px;}      
    100% {top: 400px;}
}

.fish {
    position: absolute;
    animation-name: Fish;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes Fish {
    0% {left: 50px;}
    50% {left: 1000px;}
    100% {left: 50px;transform: scaleX(-1);}
}

.fish:nth-child(1) {
    top:100px;
}

.fish:nth-child(2) {
    top:400px;
}